<nav class="ground-top-bar" data-topbar>

  <ul class="title-area">

    <li class="name">

      <h1><%= link_to(t('site.title'), root_url) %></h1>

    </li>

  </ul>

  <section class="top-bar-section">

    <ul class="left">

      <li><%= link_to(t('site.about'), page_path('about')) %></li>

    </ul>

  </section>

</nav>
