<% title t('site.about') %>

<center>
  <div class="large-12 column">

    <h4><u>Author</u></h4>

    <div class="row">

      <img class="circle-img" src="https://secure.gravatar.com/avatar/6b030f9d40af0aacef77ba4ba2076985?s=128" alt="Adrien Folie" />

    </div>

    <div class="row">

      <h5>ADRIEN FOLIE</h5>

    </div>

  </div>

</center>
