<div class="row top-buffer">

  <div class="large-12 column">

  <figure>

    <img  class="img-circle" src="https://secure.gravatar.com/avatar/6b030f9d40af0aacef77ba4ba2076985?s=128" alt="Adrien Folie" />

    <figcaption>ADRIEN FOLIE</figcaption>

  </figure>
  
</div>
  