@import "vendor_application";
@import "foundation_and_overrides";

$custom-buffer: rem-calc(20);
$custom-primary-color: #f2f2f2;
$custom-border-color: #DDD;

.top-buffer    { margin-top:    $custom-buffer }
.bottom-buffer { margin-bottom: $custom-buffer }

@mixin custom-border($sides: left top right bottom, $width: 1px, $color: $custom-border-color, $style: solid) {
  @each $side in $sides {
    border-#{$side}: $width $color $style;
  }
}

.ground-editor-header {
  background-color: $custom-primary-color;
  border-radius: 3px 3px 0 0;
  padding: rem-calc(10) rem-calc(10);
  @include custom-border(left top right);
}

.ground-editor-header .button {
  margin: 0rem;
  background-color: adjust-color($custom-primary-color, $lightness: 5%);
  color: #333;
  @include custom-border($color: $custom-border-color)
}

.ground-editor {
  height: rem-calc(400);
  border-radius: 0 0 3px 3px; 
  @include custom-border;
}

.custom-contain-to-grid {
  @extend .contain-to-grid;
  background-color: $custom-primary-color;
  @include custom-border(bottom);
}

.custom-top-bar {
  @extend .top-bar;
  background-color: $custom-primary-color;
}

.custom-button {
  @extend .button.secondary;
  @include custom-border;
}

.rounded-panel {
  @extend .panel;
  @include radius;
}



