@import "vendor_application";
@import "foundation_and_overrides";

.top-buffer    { margin-top:    20px; }
.bottom-buffer { margin-bottom: 20px; }

@mixin solid-border {
  border: 1px solid #DDD;
}

.bottom-rounded-panel {
  @extend .panel;
  border-radius: 0 0 3px 3px;
}

.rounded-panel {
  @extend .panel;
  @include radius;
  @include solid-border;
}

.ground-editor {
  height: 400px;
  @include radius;
  @include solid-border;
}

