<div class="ground-contain-to-grid sticky">
  <nav class="ground-top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Grounds Beta', root_url %></h1>
      </li>
    </ul>
  </nav>
</div>